
.hero-bg {
    background-image: url(../img/bg-hero.png);
   /* background-repeat: no-repeat;*/
   background-size: cover;
   background-position: bottom center;
}
.container {
    display: inline-block;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.hero-row {
    display: inline-block;
    width: 600px;
    margin-left: calc(( 100% - 600px ) / 2);
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
}

.hero-row > .logo{
    height: 40px;
    width: 100%;
    object-fit: contain;
    object-position: center;
    

}
.title {
    text-transform: uppercase;
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 30px;

}

.sub-title{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 60px;

}

.hero-row > .form {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
}

.clock{
    margin-bottom: 60px;

}
.row {
    display: inline-block;
    width: 1000px;
    margin-left: calc(( 100% - 1000px ) / 2);
}

.left-column {
    display: inline-block;
    width: 50%;
    float: left;


}

.right-column {
    display: inline-block;
    width: 40%;
    float: right;
    border-bottom: 1px solid #ffffff;
    background-color: white;


}

.column-title{
    margin-bottom: 30px;
}

.column-description {
    margin-bottom: 30px;
}

.socials {
    display: inline-block;
    width: 100%;

}

.footer-texts {
    display: inline-block;
    width: 600px;
    margin-left: calc(( 100% - 600px ) / 2);


}

.bg-blue {
    background-color: #03a9f5;
}

@media (max-width: 1100px){
    .row { width: 800px;
    margin-left: calc (( 100% - 800px ) / 2);

    }
    
}

@media (max-width: 900px){
    .row { width: 600px;
    margin-left: calc (( 100% - 600px ) / 2);
    }
    .left-column {
        
        width: 100%;
        margin-bottom: 60px;
    }
    
    .right-column {
        width: 100%;
        float: right;
        border-bottom: 1px solid #ffffff;
        background-color: white;
}

@media (max-width: 700px){
    .hero-row {
        width: 400px;
        margin-left: calc(( 100% - 400px ) / 2);
    }
    .row { width: 400px;
    margin-left: calc (( 100% - 400px ) / 2);
    }
    .footer-texts {
        width: 400px;
        margin-left: calc(( 100% - 400px ) / 2);
}

@media (max-width: 500px){
    .hero-row {
        width: 100%;
        margin-left: 0;
    }
    .row { width: 100%;
    margin-left: 0;
    }
    .footer-texts {
        width: 100%;
        margin-left: 0;
    }
    .container {
        padding-top: 20px;
        padding-bottom: 20px;
        
}


